@import './variable/color.scss';
@import './variable/fontsize.scss';
@import './func/func.scss';
@import './transition.scss';

.router-link-exact-active {
  color: $themeColor;
}
.router-link-active {
  color: $themeColor;
}

.title {
  color: $themeColor;
  font-weight: 600;
  font-size: $bigFontSize;
  margin: 1rem 0;
  @include showLine(1);
}

.title-click {
  color: $themeNotActiveColor;
  font-weight: 600;
  font-size: $bigFontSize;
  margin: 1rem 0;
  @include showLine(1);
  transition: 0.4s ease all;
  cursor: pointer;
  &:hover {
    color: $themeColor;
  }
}

.sub-title {
  color: $tipColor;
  font-size: $smallFontSize;
  @include showLine(1);
}

.sub-title-no-line {
  color: $tipColor;
  font-size: $smallFontSize;
}

.tag {
  &-primary {
    @include tagfunc();
    background-color: $secondryColor;
    color: $whiteColor;
  }
  &-day {
    @include tagfunc();
    background-color: $hintColor;
    color: $whiteColor;
  }
}

:deep(.el-popover) {
  padding: 5px;
}

:deep(.el-avatar) {
  cursor: pointer;
}
