@import './variable/color.scss';
@import './variable/fontsize.scss';
@import './func/func.scss';
.router-link-exact-active {
  color: $themeColor;
}
.router-link-active {
  color: $themeColor;
}

.title {
  color: $themeColor;
  font-weight: 600;
  font-size: $bigFontSize;
  margin: 1rem 0;
  @include showLine(1);
}

.sub-title {
  color: $tipColor;
  font-size: $smallFontSize;
  @include showLine(1);
}
