@font-face {
  font-family: "iconfont"; /* Project id 3696958 */
  src: url('//at.alicdn.com/t/c/font_3696958_030o6lvigjz9.woff2?t=1665414621121') format('woff2'),
       url('//at.alicdn.com/t/c/font_3696958_030o6lvigjz9.woff?t=1665414621121') format('woff'),
       url('//at.alicdn.com/t/c/font_3696958_030o6lvigjz9.ttf?t=1665414621121') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mmgc-icondenglu-copy:before {
  content: "\e63a";
}

.mmgc-iconqqdenglu:before {
  content: "\e64e";
}

.mmgc-icontuichudenglu:before {
  content: "\e613";
}

.mmgc-iconyuyan:before {
  content: "\e7dc";
}

.mmgc-iconbasic_report_f:before {
  content: "\e65c";
}

.mmgc-iconbasic_thumbsup_f:before {
  content: "\e65d";
}

.mmgc-iconbasic_tar_f:before {
  content: "\e65e";
}

.mmgc-iconadd:before {
  content: "\e601";
}

.mmgc-iconarrow-left:before {
  content: "\e602";
}

.mmgc-iconarrow-down-rectangle:before {
  content: "\e603";
}

.mmgc-iconarrow-right:before {
  content: "\e604";
}

.mmgc-iconarrow-up:before {
  content: "\e605";
}

.mmgc-iconbooks:before {
  content: "\e606";
}

.mmgc-iconbacktop:before {
  content: "\e607";
}

.mmgc-iconchart-bar:before {
  content: "\e608";
}

.mmgc-iconcaret-down:before {
  content: "\e609";
}

.mmgc-iconbrowse:before {
  content: "\e60a";
}

.mmgc-iconcheck:before {
  content: "\e60b";
}

.mmgc-iconchevron-left:before {
  content: "\e60c";
}

.mmgc-iconcheck-circle-filled:before {
  content: "\e60d";
}

.mmgc-iconchevron-down:before {
  content: "\e60e";
}

.mmgc-iconchevron-left-circle:before {
  content: "\e60f";
}

.mmgc-iconchevron-right-rectangle:before {
  content: "\e610";
}

.mmgc-iconchat:before {
  content: "\e611";
}

.mmgc-iconchevron-up:before {
  content: "\e612";
}

.mmgc-iconchevron-right:before {
  content: "\e614";
}

.mmgc-iconchevron-down-circle:before {
  content: "\e615";
}

.mmgc-iconcloud:before {
  content: "\e616";
}

.mmgc-iconclose-circle-filled:before {
  content: "\e617";
}

.mmgc-icondownload:before {
  content: "\e618";
}
