html,
body,
ul,
h1,
h3,
h4,
p,
dl,
dd,
#app {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 14px;
  color: var(--textColor);
  font: 1em/1.4 'Microsoft Yahei', 'PingFang SC', 'Avenir', 'Segoe UI', 'Hiragino Sans GB',
    'STHeiti', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;
}
body {
  margin: 0;
  height: 100%;
}
#__nuxt {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
a {
  font-weight: 400;
  text-decoration: none;
  &:visited,
  &:link,
  &:hover,
  &:active {
    color: inherit;
    font-weight: inherit;
  }
}
img {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none;
  background: hsla(29, 95%, 29%, 0.514);
  -webkit-box-shadow: none;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background: #1a1101e0;
  -webkit-box-shadow: none;
}
