$themeColor: var(--themeColor, #fcc55f);
$themeColorBackShadow: var(--themeColorBackShadow, #ffc86249);
$themeNotActiveColor: var(--themeNotActiveColor, #9e7c3c);
$whiteColor: var(--whiteColor, #fff);
$textColor: var(--textColor, rgb(12, 12, 12));
$shadowColor: var(--shadowColor, rgba(0, 0, 0, 0.3));
$backgroundColor: var(--backgroundColor, rgb(0, 0, 0));
$tipColor: var(--tipColor, rgb(177, 177, 177));
$secondryColor: var(--secondryColor, #e0960b);
$errorColor: var(--errorColor, #da290a);
$hintColor: var(--hintColor, rgb(27, 121, 245));
